
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AlgoFind</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">  
    <style>
      html *
        {
          font-family: 'Raleway', sans-serif ;
        }
    </style>


   </head>
  <body style="color: whitesmoke; background-color:black;">
    <h2>Algorithm Name</h2>
    <br>
    <pre>
    <code>
      {{code | safe}}
    </code>
    </pre>
    <p>#tags #tags #tags #tags #tags #tags </p>
  </body>
  </html>